@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #3251D0;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }
}
